@tailwind base;
@tailwind components;
@tailwind utilities;

.align__image {
  width: 100px;
  height: 75px;
  border-radius: 5px;
}

.btnAlign {
  color: antiquewhite;
}

/* https://stackoverflow.com/questions/47607602/how-to-add-a-tailwind-css-rule-to-css-checker */
body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}
@layer components {
  .card {
    background-color: theme("colors.black");
    border-radius: theme("borderRadius.lg");
    padding: theme("spacing.6");
    box-shadow: theme("boxShadow.xl");
    color: #ffffff;
  }

  .Nav__list {
    padding: 25px;
  }
  .Image__align {
    height: 76px;
    width: 92px;
    border-radius: 20px;
  }
  .Nav__Parent {
    background-color: black;
  }
}
